.App {
  background-color: #ff851b;
  color: white;
  grid-template-columns: 2fr 8fr;
  padding: 1em;
  font-family: sans-serif;
  text-align: center;
}

.card-row-separator {
  margin: 1em;
}

.word-card {
  cursor: pointer;
  border-radius: 0.25em;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  padding: 3em;

  transition: border 0.5s ease;
  transition: box-shadow 0.5s ease;
}

.word-card:hover {
  border: 1px outset white;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
}

.time-panel {
  padding: 1em;
  background-color: #dddddd;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.game-board {
  padding: 1em;
}

.welcome-header:hover {
  /* background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none; */
  text-shadow: 0px 0px 0 rgb(208, 138, 28), 1px 1px 0 rgb(165, 123, 26),
    2px 2px 0 rgb(242, 185, 100), 3px 3px 0 rgb(227, 167, 187),
    4px 4px 0 rgb(182, 129, 63), 5px 5px 0 rgb(161, 117, 50),
    6px 6px 0 rgb(144, 103, 39), 7px 7px 0 rgb(130, 91, 31),
    8px 8px 0 rgb(120, 83, 25), 9px 9px 0 rgb(108, 73, 20),
    10px 10px 0 rgb(93, 63, 13), 11px 11px 0 rgb(60, 54, 12),
    12px 12px 0 rgb(63, 41, 8), 13px 13px 0;
}

.welcome-header {
  color: white;
  font-weight: bold;
  font-size: 4em;
  font-family: "Baloo Bhai", cursive;
  /* font-family: "Rubik Mono One", sans-serif; */
}

.player-name {
  font-family: "Luckiest Guy";
}
