.App {
  background-color: #ff851b;
  color: white;
  grid-template-columns: 2fr 8fr;
  padding: 1em;
  font-family: sans-serif;
  text-align: center;
}

.card-row-separator {
  margin: 1em;
}

.word-card {
  cursor: pointer;
  border-radius: 0.25em;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  padding: 45px;
  transition: border 0.5s ease;
  transition: box-shadow 0.5s ease;
}

.board-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.word-card:hover {
  border: 1px outset white;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
}

.time-panel {
  padding: 1em;
  /* background-color: #dddddd; */
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.game-board {
  padding: 1em;
}

.welcome-header:hover {
  /* background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none; */
  text-shadow: 0px 0px 0 rgb(208, 138, 28), 1px 1px 0 rgb(165, 123, 26),
    2px 2px 0 rgb(242, 185, 100), 3px 3px 0 rgb(227, 167, 187),
    4px 4px 0 rgb(182, 129, 63), 5px 5px 0 rgb(161, 117, 50),
    6px 6px 0 rgb(144, 103, 39), 7px 7px 0 rgb(130, 91, 31),
    8px 8px 0 rgb(120, 83, 25), 9px 9px 0 rgb(108, 73, 20),
    10px 10px 0 rgb(93, 63, 13), 11px 11px 0 rgb(60, 54, 12),
    12px 12px 0 rgb(63, 41, 8), 13px 13px 0;
}

.welcome-header {
  color: white;
  font-weight: bold;
  font-size: 4em;
  font-family: "Baloo Bhai", cursive;
  /* font-family: "Rubik Mono One", sans-serif; */
}

.player-name {
  font-family: "Luckiest Guy";
}

/* JUMPING Style */

@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy");
/* BODY */

::selection {
  background: transparent;
}

.animaton-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  /* background-color: skyblue; */
  /* background-image: linear-gradient(90deg, skyblue 0%, steelblue 100%); */
  background-attachment: fixed;
  background-size: 100% 100%;
  overflow: hidden;
  font-family: "Luckiest Guy", cursive;
  font-smoothing: antialiased;
}
/* CLOUDS */
.animaton-container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  margin: auto;
  border-radius: 100%;
  background: transparent;
  display: block;
  box-shadow: 0 0 150px 100px rgba(255, 255, 255, 0.6),
    200px 0 200px 150px rgba(255, 255, 255, 0.6),
    -250px 0 300px 150px rgba(255, 255, 255, 0.6),
    550px 0 300px 200px rgba(255, 255, 255, 0.6),
    -550px 0 300px 200px rgba(255, 255, 255, 0.6);
}
/* JUMP */
.animaton-container h1 {
  cursor: default;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.animaton-container h1 span {
  position: relative;
  top: 200px;

  display: inline-flexbox;
  animation: bounce 1s ease infinite alternate;
  font-size: 20px;
  color: #17a2b8;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
    0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
    0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}

.animaton-container h1 span:nth-child(2) {
  animation-delay: 0.1s;
}

.animaton-container h1 span:nth-child(3) {
  animation-delay: 0.2s;
}

.animaton-container h1 span:nth-child(4) {
  animation-delay: 0.3s;
}

.animaton-container h1 span:nth-child(5) {
  animation-delay: 0.4s;
}

.animaton-container h1 span:nth-child(6) {
  animation-delay: 0.5s;
}

.animaton-container h1 span:nth-child(7) {
  animation-delay: 0.6s;
}

.animaton-container h1 span:nth-child(8) {
  animation-delay: 0.2s;
}

.animaton-container h1 span:nth-child(9) {
  animation-delay: 0.3s;
}
.animaton-container h1 span:nth-child(10) {
  animation-delay: 0.4s;
}

.animaton-container h1 span:nth-child(11) {
  animation-delay: 0.5s;
}

.animaton-container h1 span:nth-child(12) {
  animation-delay: 0.6s;
}

/* ANIMATION */
@keyframes bounce {
  100% {
    top: -20px;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
      0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc,
      0 50px 25px rgba(0, 0, 0, 0.2);
  }
}
